  #jumbotron{
    background-image: url('/assets/images/berlin_spike.jpg');
    background-size: cover;
    background-position: top;
  }
  .jumbo-elements{
    float: left;
  }
  .jumbo-margin{
    margin-left: 40px;
    color: white;
    text-shadow: 2px 2px #B18F6A;
  }
  #jumbo-img{
    margin: 40px auto 0 auto;
    /*opacity: 0.9;*/
    border: 4px solid #B18F6A;
  }
  #name{
    font-family: maquinada;
    color: white;
    margin-top: 50px;
    font-size: 150px;
  }
  #title{
    font-family: 'times', sans-serif;
  }
  #blurb{
    font-family: sans-serif;
  }
  #anchor-desc span {
    opacity: 0;
  }
  .project-preview-img{
    width: 262.5px;
    height: 262.5px;
    margin: auto auto;
  }
  .meet-me-img{
    margin: auto auto
  }
  @media only screen and (max-width: 1200px) {
    .meet-me-img{
      width: 200px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 500px){
    #name{
      font-size: 64px;
    }
    #title{
      margin-right: 0px;
      text-align: center;
    }
    .jumbo-margin{
      margin-left: 10px;
    }
    #resume{
      padding: 0 20px;
    }
  }
  .homepage-link:link{
  text-decoration: none;
  color: #B18F6A;
  }
  .section-title.homepage-link {
    color: hsl(31, 31%, 43%);
  }
  .homepage-link:hover,
  .homepage-link:visited {
    text-decoration: none;
    color: #F7786B;
  }
  .section-container{
    border-top: 1px solid #e5e5e5;
    padding: 10px 0 20px 0;
  }
  .col-lg-3 > p{
    text-align: center;
  }
  .col-lg-3 > .btnfos{
    margin-left: 50px;
  }
  a.btn.btnfos.btnfos-5{
    margin: 0 auto 60px;
  }
  #resume-icon{
    margin-left: 535px;
  }
  .resume-list{
    list-style-type: none;
  }
  .inner-row{
    height:auto;
  }
  .meet-me img, .meet-me video {
    height: auto;
    width: 170px;
  }
/*start down arrow*/
.fa {
 color: black;
 font: normal 25px 'FontAwesome';
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.bounce {
 bottom: 330px;
 margin-left: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 border-radius: 50%;
 animation: bounce 3s infinite;
 -webkit-animation: bounce 3s infinite;
 -moz-animation: bounce 3s infinite;
 -o-animation: bounce 3s infinite;
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
/*end down arrow*/
